@model List<StoreDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Stock</h1>
</div>

<div class="container mt-3">
  <h2 class="m-3">Stores</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Store</th>
        <th>Store Address</th>
        <th>Items Details</th>
        <th>Edit Store</th>
        <th>Delete Store</th>
      </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
               <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>
@*                 <td class="text-center"><a class="btn btn-outline-primary text-center" asp-controller="Store" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
 *@                <td class="text-center"><a class="btn btn-outline-primary" asp-controller="Item" asp-action="Details" asp-route-id="@item.Id">@item.Name Items</a></td>
                <td class="text-center"><a class="btn btn-outline-primary" asp-controller="Store" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
                <td class="text-center"><a asp-controller="Store" asp-action="Delete" asp-route-id="@item.Id"
                    onclick="return confirm('Are you sure ?')" class="btn btn-outline-primary">Delete</a> </td>
              </tr>
            }
    </tbody>       
  </table>
    <div class="d-flex justify-content-around">
            <a class="btn btn-primary" asp-controller="Store" asp-action="Create">Add Store</a>
          <a class="btn btn-primary" asp-controller="Store" asp-action="Details">Stores Details</a>

        </div>
    </div>
</div>

