@model ReadStoreWithItemsDto
@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name Item Details</h2>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Price</th>
        <th>Item Quantity</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
                   <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                            <td class="text-center"><a class="btn btn-primary" asp-controller="Item" asp-action="Edit" asp-route-id="@item.Id"  asp-route-storeId="@ViewBag.StoreId">Edit item</a></td>
                            <td class="text-center"><a asp-controller="Item" asp-action="Delete" asp-route-id="@item.Id" asp-route-storeId="@ViewBag.StoreId"
                            onclick="return confirm('Are you sure ?')" class="btn btn-primary">Delete item</a> </td>
                  </tr>
        }
    </tbody>       
  </table>

      <div>
            <a class="btn btn-primary" asp-controller="Item" asp-action="Create"  asp-route-id="@ViewBag.StoreId" >Add Item</a>
           <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
     </div>